@mixin button {
   display: flex;
   width: 160px;
   height: 45px;
   border-radius: 22px;
   justify-content: center;
   align-items: center;
   font-size: 12px;
   font-weight: 400;
   text-transform: uppercase;
   color: #ffffff;
   border: none;
   background-color: var(--main-color);
   cursor: pointer;
   transition: all 0.6s;
   &:hover {
      box-shadow: 0 7px 14px #009999, 0 5px 5px #009999;
   }
}

@mixin title {
   padding-top: 55px;
   text-align: center;
   font-size: 26px;
   font-weight: 700;
   text-transform: uppercase;
   color: #2e2e2e;
}

@mixin delimeter {
   margin-top: 20px;
   width: 148px;
   height: 1px;
   background-color: var(--main-color);
}

@mixin title-white {
   text-align: center;
   font-size: 26px;
   line-height: 23px;
   font-weight: 700;
   color: #ffffff;
}

@mixin subtitle-white {
   text-align: center;
   font-size: 19px;
   line-height: 27px;
   font-weight: 300;
   color: #ffffff;
}
