.advantage {
   min-height: 590px;
   background-color: #f3f3f3;
   &__title {
      @include title;
   }
   &__wrapper {
      display: grid;
      margin-top: 25px;
      grid-template: repeat(4, auto) / repeat(2, auto);
      column-gap: 99px;
      row-gap: 16px;
   }
   &__item {
      display: flex;
      img {
         margin-top: 10px;
         margin-right: 17px;
      }
      h3 {
         font-size: 16px;
         font-weight: 700;
         color: var(--main-color);
      }
      p {
         font-size: 14px;
         font-weight: 300;
         color: #3a3a3a;
         overflow: hidden;
      }
      .anim-show {
         transform: translate(0px, 120%);
         opacity: 0;
         transition: all 0.8s ease 0s;
      }
      .anim-show.active,
      .active .anim-show {
         transform: translate(0px, 0px);
         opacity: 1;
      }
   }
}
