.prices {
   transform: translate(-120%, 50%);
   opacity: 0;
   transition: all 1s ease 0s;
   &.active {
      transform: translate(0px, 0px);
      opacity: 1;
   }
   &__title {
      @include title;
   }
   &__delim {
      @include delimeter;
   }
   h3 {
      margin-top: 17px;
      max-width: 690px;
      text-align: center;
      font-size: 21px;
      line-height: 24px;
      font-weight: 300;
      text-transform: uppercase;
      color: #2e2e2e;
   }
   &__wrapper {
      margin-top: 34px;
      display: grid;
      grid-template-columns: repeat(4, 261px);
      column-gap: 26px;
      justify-content: center;
   }
   &__header {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 61px;
      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase;
      color: #ffffff;
      background-color: var(--bg-color);
      margin-bottom: 13px;
   }
   &__item {
      text-align: center;
      border: 1px solid #e9e9e9;
      button {
         @include button;
         margin: 0 auto 26px;
      }
   }
   &__deliv {
      font-size: 14px;
      line-height: 23px;
      font-weight: 400;
      text-transform: uppercase;
      color: #2e2e2e;
   }
   &__price {
      font-size: 28px;
      line-height: 30px;
      text-transform: none;
      color: var(--main-color);
   }
   p {
      font-family: Roboto;
      font-size: 14px;
      line-height: 20px;
      font-weight: 300;
      color: #2e2e2e;
   }
}
