.scheme {
   min-height: 454px;
   background-color: #f3f3f3;
   &__title {
      @include title;
   }
   &__wrapTop {
      margin-top: 33px;
      display: grid;
      grid-template-columns: repeat(4, auto);
      column-gap: 43px;
   }

   &__topItem {
      text-align: center;

      h3 {
         margin: 12px auto 0 auto;
         font-size: 16px;
         line-height: 20px;
         font-weight: 700;
         color: var(--main-color);
      }
      p {
         font-size: 14px;
         font-weight: 300;
         color: #3a3a3a;
      }
   }
   &__wrapTop &__topItem {
      transform: translate(-120%, 0px);
      transition: all 0.3s ease 0s;
   }

   &__wrapTop.active &__topItem {
      transform: translate(0px, 0px);
   }

   &__wrapTop.active &__topItem:nth-child(1) {
      transition: all 0.5s ease 0s;
   }
   &__wrapTop.active &__topItem:nth-child(2) {
      transition: all 0.5s ease 0.2s;
   }
   &__wrapTop.active &__topItem:nth-child(3) {
      transition: all 0.5s ease 0.6s;
   }
   &__wrapTop.active &__topItem:nth-child(4) {
      transition: all 0.5s ease 0.9s;
   }

   &__wrapBott {
      width: 808px;
      display: grid;
      grid-template-columns: repeat(3, auto);
      column-gap: 46px;
   }
   &__bottItem {
      text-align: center;
      h3 {
         margin: 12px auto 0 auto;
         font-size: 16px;
         line-height: 20px;
         font-weight: 700;
         color: var(--main-color);
      }
      p {
         font-size: 14px;
         font-weight: 300;
         color: #3a3a3a;
      }
   }
   &__wrapBott &__bottItem {
      transform: translate(120%, 0px);
      transition: all 0.3s ease 0s;
   }

   &__wrapBott.active &__bottItem {
      transform: translate(0px, 0px);
   }

   &__wrapBott.active &__bottItem:nth-child(1) {
      transition: all 0.5s ease 0.6s;
   }
   &__wrapBott.active &__bottItem:nth-child(2) {
      transition: all 0.5s ease 0.2s;
   }
   &__wrapBott.active &__bottItem:nth-child(3) {
      transition: all 0.5s ease 0s;
   }
}
