.works {
   &__title {
      @include title;
   }
   &__delim {
      @include delimeter;
   }
   h3 {
      margin: 17px 131px 0 131px;
      text-align: center;
      font-size: 21px;
      font-weight: 300;
      line-height: 24px;
      color: #2e2e2e;
   }
   &__wrapper {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 1%;
   }
   &__item {
      margin-top: 37px;
      img {
         display: block;
         width: 100%;
      }
      h3 {
         margin: 28px 0 0 0;
         font-size: 18px;
         line-height: 22px;
         font-weight: 700;
         color: var(--main-color);
      }
      p {
         margin-top: 15px;
         font-size: 14px;
         font-weight: 300;
         color: #3a3a3a;
      }
   }
}
